*{
    /* border: 2px solid red; */
    color: #2d3c49;
    font-family: 'Lato', sans-serif;
  }
  
  h2 {
    color: #7d97ad;
  }
  
  hr {
    border-color: #7d97ad;
  }
  

.logo-image{
    width: 80px;
    height: 100px;
}

 

.small-images-container{
    margin-top: 30px;
}

.center-image{
    width: 100%;
}

.small-images{
    width: 100px;
}
